.git
.gitignore
.gitattributes
.circleci
.env
.env.*
.idea
.vscode

node_modules
dist
coverage
test
events
**/*.spec.ts

*.log
junit.xml
pnpm-debug.log*

Dockerfile*
.dockerignore
README.md
CONTRIBUTING.md
